


body {
    background-image: url(./background-darker.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 
}

/* intro */

#intro h2 {
    text-shadow: 2px 2px 4px #000000;
    color: white;
    margin: 5em auto;
    text-align: center;
    width: 65%;
}

/* courses */

#courses {
    text-align: center;
    padding: 2em;
    background-color: aliceblue;
}

#courses h2 {
    
}